form {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutData {
  display: flex;
  font-size: medium;
  margin: 4px;
  border-color: black;
}

.completedPurchase {
  margin: 15%;
}

.codeTracking {
  display: flex;
  justify-content: center;
}

.linkHome {
  display: flex;
  justify-content: center;
}
