.Counter {
  margin-bottom: 10px;
  align-items: center;
  width: 70%;
}

.Controls {
  justify-content: center;
  display: flex;
}

.Number {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.ButtonCartContainer {
  justify-content: center;
  display: flex;
}
