.detailCard {
  border: 1px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10%;
  display: flex;
  width: 80%;
}

.detailImg {
  height: 410px;
  width: 450px;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailTitle {
  font-size: 40px;
  margin: 0;
}

.detailPrice {
  font-size: 20px;
  width: 25%;
}

.detailDescription {
  font-size: 20px;
  width: 90%;
}
